::-moz-selection {
  /* Code for Firefox */
  color: #ffdede;
  background: #ff8551;
}

::selection {
  color: #ffdede;
  background: #ff8551;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  cursor: default;
}

button {
  all: unset;
}

li {
  all: unset;
  display: block;
}

.blind {
  display: none;
}

body {
  width: auto;
  height: 100vh;
  position: relative;
  padding: 5vw;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 2rem;
  background-color: #faf0e4;
}

.tabcontent {
  display: none;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20vw);
  position: relative;
}
.tabcontent.active {
  display: flex;
}
.tabcontent div {
  padding: 5vw;
}

#header {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 5vw;
  font-size: 1.2rem;
  font-weight: 800;
  color: #ffdede;
  background: #9bcdd2;
}

.tablinks.active {
  padding: 0 5px;
  background: #ff8551;
}

.tab {
  display: flex;
  justify-content: space-around;
}

.btns {
  display: flex;
  position: absolute;
  bottom: 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
ul li {
  width: 30vw;
  margin: 1vw;
  background-color: #ffdede;
}