::-moz-selection {
  /* Code for Firefox */
  color: #6096b4;
  background-color: #eee9da;
}

::selection {
  color: #6096b4;
  background-color: #eee9da;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #002b5b;
  box-sizing: border-box;
  cursor: default;
}

button {
  all: unset;
}

li {
  all: unset;
  display: block;
}

a {
  all: unset;
  cursor: pointer;
}

.blind {
  display: none;
}

body {
  width: auto;
  height: 100vh;
  position: relative;
  background-color: #bdcdd6;
}

#wave {
  --c: #6096b4; /* Color */
  --t: 20px; /* Thickness */
  --h: 150px; /* Height (vertical distance between two curve) */
  --w: 500px; /* Width  */
  --p: 37px; /* adjust this to correct the position when changing the other values*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t))), radial-gradient(farthest-side at 50% calc(0% - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t)));
  background-position: calc(var(--w) / 2) calc(var(--h) / 2), 0px calc(var(--h) / 2);
  background-size: var(--w) var(--h);
  transition: opacity 4s linear;
  text-align: center;
  background-color: #bdcdd6;
}
#wave.fadeOut {
  opacity: 0;
}

#mainTitle {
  opacity: 0;
  transition: opacity 1s linear;
}
#mainTitle span {
  display: block;
  font-family: "Geologica", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0 #6096b4, 1px -1px 0 #6096b4, -1px 1px 0 #6096b4, 1px 1px 0 #6096b4;
}
#mainTitle span.small {
  font-size: 1.5rem;
}
#mainTitle span.middle {
  font-size: 2rem;
}
#mainTitle span.large {
  font-size: 3rem;
}
#mainTitle.fadeIn {
  opacity: 1;
}

.tabcontent {
  display: none;
  padding: 1.5vw 3vw;
}
.tabcontent.active {
  display: block;
}

#header {
  width: 100%;
  z-index: 100;
  padding: 1.5vw 3vw;
  background-color: #002b5b;
}

.tablinks {
  font-size: 1.2rem;
  color: #eee9da;
}
.tablinks.active {
  font-weight: 600;
  text-decoration: underline;
}
.tablinks:first-child {
  margin-right: 10px;
}

#home .userName {
  font-size: 12px;
}
#home .userName span {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}
#home .userName strong {
  font-weight: 500;
}
#home .container {
  display: flex;
  margin-bottom: 3vh;
}
#home .profile {
  display: flex;
  align-items: center;
  padding: 3vw;
  background-color: #002b5b;
  flex: auto;
}
#home .profileImg {
  width: 12rem;
  margin-right: 3vw;
  background-color: #fff;
}
#home .profileImg img {
  width: 100%;
  max-width: 12rem;
  vertical-align: top;
}
#home .summary {
  flex: 70%;
}
#home .summary span {
  color: #eee9da;
}
#home .summary .content {
  padding: 0.5rem;
  background-color: #fff;
}
#home .contactBox {
  width: 15rem;
  margin-left: 1rem;
  background-color: #fff;
  min-width: 20vw;
}
#home .contactBox .contact {
  padding: 0.5em 1em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background-color: #002b5b;
}
#home .contactBox ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
#home .contactBox li {
  width: 100%;
  padding: 0.5em 0;
  background: radial-gradient(#ffe168, #ee6833);
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
#home .contactBox li:not(:last-child) {
  margin-bottom: 1rem;
}
#home .aboutMe .boxTitle {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #002b5b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#home .aboutMe .contentBox {
  padding: 0.5rem;
  border-top: 5px solid #002b5b;
  background-color: #fff;
}
#home .aboutMe .title {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-color: #93bfcf;
}
#home .aboutMe .content {
  padding: 0.5rem 1rem;
  border: 1px solid #bdcdd6;
}

#project {
  position: relative;
}
#project .subTitle {
  margin-bottom: 1vw;
}
#project li {
  display: flex;
  position: relative;
  padding: 1rem;
}
#project li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#project li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #6096b4;
}
#project .imgBox {
  width: 25vw;
  margin-right: 1rem;
  padding: 0.5rem;
  min-width: 250px;
  background-color: #fff;
  cursor: pointer;
}
#project .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  cursor: inherit;
}
#project .prjInfo {
  width: 60%;
  padding: 1rem;
}
#project .prjInfo span {
  font-size: 14px;
}
#project .prjTitle {
  font-size: 20px;
  text-decoration: underline;
}
#project .desc {
  margin-top: 1rem;
}
#project .linkBox a {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 1rem;
  padding: 1rem;
  font-weight: 500;
  transform: translateY(-50%);
  background: linear-gradient(#eee9da 0%, #6096b4 50%);
  border-radius: 3px;
}
#project .linkBox a:after {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: -10px;
  border-top: 15px solid #6096b4;
  border-left: 20px solid transparent;
  content: "";
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  margin-top: 2rem;
}
.btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-weight: 800;
  background: radial-gradient(#93bfcf, #6096b4);
  border-radius: 3px;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  #home .container {
    flex-direction: column;
  }
  #home .container .contactBox {
    width: auto;
    margin: 1rem 0 0;
  }
  #home .container .contactBox ul {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #home .container .contactBox ul li {
    width: 45%;
    margin: 0.5rem;
  }
  #project .imgBox {
    width: 25vw;
    margin-right: 1rem;
    padding: 0.5rem;
    min-width: 250px;
    background-color: #fff;
    cursor: pointer;
  }
  #project .linkBox a {
    top: 10%;
    transform: translateY(-10%);
  }
}
@media all and (max-width: 640px) {
  #home .profile {
    flex-direction: column;
  }
  #home .profileImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin: 0 0 1rem;
    background: #fff;
  }
  #home .container .contactBox {
    width: auto;
    margin: 1rem 0 0;
  }
  #home .container .contactBox ul {
    flex-direction: column;
  }
  #home .container .contactBox ul li {
    width: 100%;
    margin: 0;
  }
  #home .container .contactBox ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
  #project .desc {
    display: none;
  }
  #project li {
    align-items: center;
    flex-direction: column;
  }
  #project .prjInfo {
    width: 100%;
    text-align: center;
  }
  #project .imgBox {
    margin-right: 0;
  }
  #project .linkBox {
    display: none;
  }
  #project .btns {
    margin: 0 0 1rem;
  }
}